:root {
  --claret: #6e0d25ff;
  --cream: #ffffb3ff;
  --earth-yellow: #dcab6bff;
  --sepia: #774e24ff;
  --seal-brown: #6a381fff;
}

* {
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: auto auto auto;
}

.title--h2 {
  text-align: center;
}

.profile__header {
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  padding: 2em;
  background-color: aqua;
}

.photo__img {
  width: 12rem;
}

.content__lengend {
  text-align: center;
  padding-bottom: 2em;
}

.content__container {
  padding: 2rem;
}

.fieldset__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.main__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6a381fff;
  color: #dcab6bff;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  bottom: 0;
}

.main__footer p {
  margin-bottom: 1rem;
}

@media (min-width: 481px) and (max-width: 768px) {
  .content__lengend {
    text-align: center;
    padding-bottom: 2em;
  }

  .content__container {
    padding: 4rem;
  }
  .fieldset__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem;
  }
}
